.frama-c/
.frama-c-mcp/
*.swp
solver
mini
iddfs
ida_star
ida_star_target

batch_test_case.s

utils/export_d11_states
utils/verify_pdb
utils/verify_ida
utils/pdb_generator

.vscode/
*.csv
*.xlsx
*/txt
*.o
*.elf